@import url('./index.css');

.score-board {
  grid-area: r;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.btn-container {
  display: flex;
  justify-content: space-between;
}

.score-board-button {
  padding: 1em;
  border-width: 2px;
  border-color: none;
  background-color: var(--color-0);
  color: white;
}
